.card__delete {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/cards-delete-button.svg);
  background-color: transparent;
  border: none;
  transition: linear 0.5s;
  cursor: pointer;
}

.card__delete:hover {
  opacity: .6;
}
